# -*- coding: utf-8 -*-
#
# This file is part of citeproc-py-styles.
# Copyright (C) 2016-2018 CERN.
#
# citeproc-py-styles is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

notifications:
  email: false

sudo: false

language: python

cache:
  - pip

env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release
  - REQUIREMENTS=devel

python:
  - "2.7"
  - "3.5"

matrix:
  fast_finish: true
  allow_failures:
    - env: REQUIREMENTS=devel

before_install:
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
- coveralls

deploy:
  provider: pypi
  user: inveniosoftware
  password:
    secure: "WHvRhQUacZVfzdLKS6IsFn4+5fZB8+80nyrFLZgg5OApEf0/i+RC6UsKZCbHKOjUsUgiZgCChp6ipjW4HIWXrHpFh+sa6nbrVAkiCWyT8P9abEZs7rTtJ0Md5pjliF1D5Qc/vHCmVHkcxFw3GbRsDRkToW4EeXZX108y6vUw+ROQpSg3u9JWIzyO8hSOXaowSkFjhY+8TciEGMLN0rcUo2HIVZkW5TlsgDPUyYmE2MlTGsx86lDkeL5e2KqkZ3mwQZvjCDKkYEGmVXZihCkwdyePUrYfc1+amWAdb2yPVFPiNkrJKtJiFnPaBLHLdIwI4rYKcPtmVPWML7NZijRRewGoL+edmk0Mv2KGfDRsBKkXeFlOiu7Kpb6sTUXJbxTOL3/0DoPNxFoiSvJxIoX925ZqnLKqwNEA6FRl0rPrWJQhBzVQtZbKkLX1lUxhRBf+aW5+F6KCBk46vr8Ky+WeDNvDjPqni7DrOdKRUYRrKGyLcwkjskGY3ljH/Gsw0/trMUl5IyqENvPHuAbCqr1vJ6+oIfAcFNoJLezSq1jSkDlpspDCOOVlDp/H3NcjqTd04WsG7V6vWop66TSdZcQRSL0vQWNufYyyWYS0DPg2LN/FGFGnRBcZSPIwdLL7nMlOTo8nyPw/FBcxmyUxUMt54v1McKVb/h5OITJosvRanYk="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
    python: "2.7"
    condition: $REQUIREMENTS = release
