# SPDX-FileCopyrightText: 2016-2018 CERN.
# SPDX-License-Identifier: MIT

exclude .git-blame-ignore-revs
include *.rst
include *.sh
include *.txt
include .gitmodules
include .editorconfig
include LICENSE
include pytest.ini
prune citeproc_styles/styles
recursive-include tests *.py
recursive-include citeproc_styles/styles *.csl
recursive-include .github/workflows *.yml
